.DS_Store
.gradle
/**/**.iml
/**/*.log
/**/__pycache__/
/.idea/
/TestrayAutomatedTasks.egg-info/
/build/
/**/bug_threshold_*.txt
/**/output_info_*.txt
/**/output_message_*.txt
/liferay/test.py
/**/token.json
/liferay/tools/*.pkl
/myenv/
/venv/
/liferay/teams/headless/reports/combined_report.html
/.venv/
/liferay/teams/headless/reports/before_refactor.html
